<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <!-- Handle multiple datasource locations, query datasource locations and multiple
        datasource lactions for a sublayout-->
        <processor patch:after="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"
                           type="JonathanRobbins.MicrositeKit.CMS.Pipelines.GetRenderingDatasource.GetDatasourceLocations, JonathanRobbins.MicrositeKit.CMS" />
      </getRenderingDatasource>
      
      <httpRequestBegin>
        <!-- Resolve a wildcard item to the requested item via the url -->
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                           type="JonathanRobbins.MicrositeKit.CMS.Pipelines.HttpRequest.WildCardItemResolver, JonathanRobbins.MicrositeKit.CMS" />
      </httpRequestBegin>
    </pipelines>
      
    <sites>

      <site patch:after="site[@name='website']" name="members" hostName="members" virtualFolder="/"
            physicalFolder="/" rootPath="/sitecore/content" startItem="/members/home" database="web"
            domain="clebranglas" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0"
            viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true"
            enableDebugger="true" disableClientData="false" loginPage="/login" />
    </sites>
  </sitecore>
</configuration>
