<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <wildCards type="Sitecore.ContentSearch.LuceneProvider.
LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">

        <!-- Place all needed custom configuration here -->
        <indexAllFields>true</indexAllFields>

        <!-- You also can reference sections from DefaultIndexConfiguration -->
        <analyzer ref="contentSearch/configuration/defaultIndexConfiguration/analyzer" />

        <!-- AddCustomConfigurationHere -->
        <include hint="list:IncludeTemplate">
          <BlogTemplateId>{B7A6247B-AD5B-4A1E-B075-E30AE95DE299}</BlogTemplateId>
          <EventTemplateId>{37807D72-8647-4224-8190-A1D70882AA1D}</EventTemplateId>
          <NewsTemplateId>{3A22498D-D119-4F24-92BC-1B4567352328}</NewsTemplateId>
        </include>

      </wildCards>
    </contentSearch>
  </sitecore>
</configuration>