<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>

      <site patch:after="site[@name='website']" name="members" hostName="members" virtualFolder="/"
            physicalFolder="/" rootPath="/sitecore/content" startItem="/members/home" database="web"
            domain="clebranglas" allowDebug="true" cacheHtml="true" htmlCacheSize="10MB" registryCacheSize="0"
            viewStateCacheSize="0" xslCacheSize="5MB" filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true"
            enableDebugger="true" disableClientData="false" loginPage="/login" />
    </sites>
  </sitecore>
</configuration>
