/* --- IE7 stylesheet - degrade gracefully --- */
.login-portal .login-form {
  width: 44%;
}
.login-portal .login-form input[type=text],
.login-portal .login-form input[type=password] {
  width: 92%;
}
.collection-panel .show-more {
  float: none;
  position: relative;
  bottom: auto;
  left: 92%;
}
.collection-panel .pane {
  width: 33.3%;
}
.collection-panel .pane.hidden-pane.small .panel {
  width: 16.17%;
}
.collection-panel img {
  min-height: 100%;
}
#EventsListing ul .event-item {
  width: 45%;
}
#NewsListing ul .news-item {
  width: 45%;
}
#BlogListing ul .blog-item {
  width: 45%;
}
.library-listing .library-holder {
  width: 71%;
}
#Standard7525 #PhPrimaryContent,
#Standard2575 #PhPrimaryContent {
  width: 64%;
}
#StandardWithSupporting .main-content {
  width: 74%;
}
#PhPromo .promo-panel {
  width: 27.7% !important;
}
.scfForm {
  width: 89% !important;
}
img {
  height: 100%;
}
