@import url(http://fonts.googleapis.com/css?family=Quicksand:400);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
strong {
  font-weight: bold;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* clearfix tools */
.clearfix {
  zoom: 1;
  /* IE7 Fix */
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.clear {
  content: "";
  display: table;
  clear: both;
}
/* --- accessibility attributes--- */
.accessible-hidden {
  position: absolute;
  left: -9999px;
  font-size: 0;
}
.gen-box-model {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gen-full-width {
  width: 100%;
}
.gen-inner {
  max-width: 1272px;
  margin: 0 auto;
}
.gen-content {
  background-color: #fcfcfc;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.lr-gutter {
  margin: 0 1%;
}
.gen-select-box {
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
  color: #535353;
  height: 35px;
}
.icon {
  background: transparent url(/css/Images/WelshWaterMicrosite/sprite.png) no-repeat;
  display: block;
}
.icon.icon-blue-arrow {
  width: 15px;
  height: 10px;
  background-position: 0 0;
}
.icon.icon-yellow-arrow {
  width: 12px;
  height: 12px;
  background-position: -15px 0;
}
.icon.icon-up-arrow {
  width: 59px;
  height: 57px;
  background-position: 0 -12px;
}
.icon.icon-download {
  width: 18px;
  height: 17px;
  background-position: 0 -70px;
}
.arial-reg {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
}
body {
  font-size: 100%;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 16px;
  min-width: 960px;
}
h1 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 36px;
  color: #535353;
  margin-bottom: 30px;
}
h2 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 24px;
  color: #105f99;
  margin-bottom: 10px;
}
h3 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 18px;
  margin-bottom: 10px;
}
p {
  line-height: 1.2em;
}
a {
  color: #105f99;
}
a:focus {
  outline: 1px dotted #105f99;
}
a:visited {
  color: #105f99;
}
.rich-text p {
  margin-bottom: 20px;
  color: #535353;
}
.rich-text ul {
  margin-left: 40px;
}
.rich-text ul li {
  margin-bottom: 10px;
  list-style-type: disc;
  color: #535353;
}
.rich-text ol {
  margin-left: 40px;
}
.rich-text ol li {
  list-style-type: decimal;
  margin-bottom: 10px;
  color: #535353;
}
.rich-text strong,
.rich-text b {
  font-weight: bold;
}
.rich-text em,
.rich-text i {
  font-style: italic;
}
.rich-text sub {
  vertical-align: sub;
}
.rich-text sup {
  vertical-align: super;
}
.short-text {
  margin-bottom: 20px;
  font-weight: bold;
  color: #535353;
}
/* --- global header --- */
#Header {
  background-color: #fff;
  border-bottom: 1px solid #caf4ff;
}
#Header .inner {
  max-width: 1272px;
  margin: 0 auto;
  height: 88px;
}
/* --- global breadcrumb --- */
#Breadcrumb {
  max-width: 1272px;
  margin: 0 auto;
  padding: 40px 0 10px 0;
}
#Breadcrumb ol {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  margin: 0 1%;
}
#Breadcrumb ol:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Breadcrumb ol:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Breadcrumb ol li {
  float: left;
  margin: 0 0 0 1%;
  color: #535353;
  font-family: Arial, helvatica, san-sarif;
  font-size: 14px;
}
#Breadcrumb ol li:first-child {
  margin: 0;
}
#Breadcrumb ol li a {
  color: #105f99;
  text-decoration: none;
  font-size: 14px;
}
/* --- global footer --- */
#Footer {
  background-color: #fff;
}
#Footer .inner {
  position: relative;
  padding-top: 30px;
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
#Footer .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Footer .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Footer .main-site-links {
  float: left;
  width: 51%;
  margin-left: 1%;
}
#Footer .main-site-links .brand-image {
  float: left;
  margin-right: 5%;
}
#Footer .main-site-links .external-links {
  float: left;
  padding: 16px 0 0 0;
}
#Footer .main-site-links .external-links li {
  float: left;
  font-family: Arial, helvatica, san-sarif;
  font-size: 13px;
  margin: 0 20px 10px 0;
}
#Footer .main-site-links .external-links li a {
  color: #2494d8;
  text-decoration: none;
}
#Footer .main-site-links .external-links li a:hover {
  text-decoration: underline;
}
#Footer .interal-links {
  float: right;
  max-width: 48%;
  margin-right: 1%;
  margin-bottom: 17px;
  padding: 16px 0 0 0;
}
#Footer .interal-links li {
  display: inline;
  font-family: Arial, helvatica, san-sarif;
  font-size: 13px;
  margin-left: 20px;
}
#Footer .interal-links li a {
  color: #00b0db;
  text-decoration: none;
}
#Footer .interal-links li a:hover {
  text-decoration: underline;
}
#Footer #copyright {
  float: right;
  margin-right: 1%;
  text-align: right;
  clear: both;
  font-size: 13px;
  font-family: Arial, helvatica, san-sarif;
  color: #535353;
}
#Landing {
  background-color: #fcfcfc;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  background-repeat: no-repeat;
}
#Standard2575 {
  background-color: #fcfcfc;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
#Standard2575 .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding: 30px 0;
}
#Standard2575 .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Standard2575 .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Standard2575 #PhPrimaryContent {
  float: right;
  width: 64.66666667%;
  margin: 0 1%;
}
#Standard2575 #PhSubNav {
  float: left;
  width: 31.33333333%;
  margin: 0 1%;
}
#Standard7525 {
  background-color: #fcfcfc;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
#Standard7525 .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding: 30px 0;
}
#Standard7525 .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Standard7525 .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#Standard7525 #PhPrimaryContent {
  float: left;
  width: 64.66666667%;
  margin: 0 1%;
}
#Standard7525 #PhSupportingContent {
  float: right;
  width: 31.33333333%;
  margin: 0 1%;
}
#Standard7525 #PhSupportingContent .resources {
  border: 1px solid #e9e9e9;
  padding: 20px;
  background-color: #fcfcfc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Standard7525 #PhSupportingContent .resources .resource-list li {
  float: none;
  width: auto;
}
#StandardWithSupporting {
  background-color: #fcfcfc;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
#StandardWithSupporting .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding: 30px 0;
}
#StandardWithSupporting .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#StandardWithSupporting .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#StandardWithSupporting .main-content {
  float: right;
  width: 75%;
}
#StandardWithSupporting #PhPrimaryContent {
  float: left;
  width: 65%;
  margin: 0 1%;
}
#StandardWithSupporting #PhSupportingContent {
  float: left;
  width: 31%;
  margin: 0 1%;
}
#StandardWithSupporting #PhSubNav {
  float: left;
  width: 23%;
  margin: 0 1%;
}
/* --- global promo panel placeholder --- */
#PhPromo .promo-panel {
  float: left;
  width: 31.33333333%;
  margin: 0 1% 20px 1%;
}
#PhPromo .cta-panel {
  margin: 0 1% 20px 1%;
}
#PhPromo .cta-panel .short-text {
  max-width: 80%;
  margin-bottom: 0;
}
/* --- site logo --- */
.site-logo {
  float: left;
  margin: 1% 0 0 1%;
}
/* --- main navigation --- */
.top-nav {
  float: right;
  margin: 30px 1% 0 0;
}
.top-nav ul {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.top-nav ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.top-nav ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.top-nav li {
  float: left;
  font-family: Arial, helvatica, san-sarif;
  margin-left: 10px;
}
.top-nav li a {
  padding: 8px 13px;
  color: #00b0db;
  display: block;
  text-decoration: none;
}
.top-nav li a.selected,
.top-nav li a:hover {
  background: #00b0db;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.top-nav li.logout input[type=submit] {
  padding: 5px 13px;
  font-size: 17px;
  background: none;
  border: none;
  display: block;
  color: #00b0db;
  cursor: pointer;
}
.top-nav li.logout input[type=submit]:hover {
  background: #00b0db;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* --- Sub navigation --- */
#SubNav {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  overflow: hidden;
  margin-bottom: 20px;
}
#SubNav .level-1 a {
  text-indent: 20px;
}
#SubNav .level-2 a {
  text-indent: 40px;
}
#SubNav a {
  padding: 10px;
  color: #105f99;
  display: block;
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  text-decoration: none;
}
#SubNav a.selected {
  background: #00b0db;
  color: #fff;
}
#SubNav a:hover {
  background: #efefef;
}
/* --- login page --- */
.login-portal {
  width: 1272px;
  min-height: 660px;
  margin: 80px auto 0;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.login-portal:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.login-portal:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.login-portal h1 {
  position: absolute;
  left: -9999px;
  font-size: 0;
}
.login-portal .inner {
  width: 50%;
  margin-left: 1%;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.login-portal .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.login-portal .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.login-portal .short-text {
  font-size: 30px;
  margin-bottom: 40px;
  font-family: Verdana, Arial, sans-serif;
  color: #535353;
  font-weight: normal;
}
.login-portal .rich-text {
  float: left;
  width: 50%;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
}
.login-portal .help-text {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}
/* --- page header --- */
.page-header .inner {
  position: relative;
  max-width: 1272px;
  margin: 0 auto;
}
.page-header.banner {
  height: 400px;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.page-header h1 {
  padding: 5px 0 25px;
  margin: 0 0 0 1%;
}
/* --- rich text --- */
.rich-text p {
  margin-bottom: 20px;
}
/* --- scoial network --- */
#social-network {
  clear: both;
}
#social-network .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding: 0;
}
#social-network .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#social-network .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#social-network .social-links {
  float: right;
  margin-right: 1%;
}
#social-network .social-links .social-icon {
  margin: 0 0 0 10px;
}
/* --- feature panel --- */
.feature-panel {
  background-color: #00b0db;
}
.feature-panel .inner {
  padding: 60px 3%;
  max-width: 1272px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.feature-panel .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.feature-panel .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.feature-panel .image {
  float: left;
  width: 33%;
}
.feature-panel .image img {
  max-width: 100%;
  height: auto;
}
.feature-panel .content {
  float: left;
  width: 58%;
  margin-left: 5%;
}
.feature-panel h2 a {
  border-bottom: 1px solid #fff;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 35px;
  margin-bottom: 23px;
  color: #fff;
  padding-bottom: 16px;
  text-decoration: none;
  display: block;
}
.feature-panel p {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 16px;
  color: #000;
  margin-bottom: 23px;
}
.feature-panel .link {
  float: right;
  color: #fff;
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 18px;
  font-family: Arial, helvatica, san-sarif;
}
/* --- collection panel --- */
.collection-panel {
  background-color: #fcfcfc;
}
.collection-panel .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 2% 60px;
}
.collection-panel .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.collection-panel .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.collection-panel .pane-holder {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.collection-panel .pane-holder:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.collection-panel .pane-holder:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.collection-panel .pane {
  float: left;
  position: relative;
  width: 33%;
  overflow: hidden;
}
.collection-panel .pane.medium .panel {
  width: 100%;
  height: 160px;
}
.collection-panel .pane.medium .panel img {
  max-width: 100%;
}
.collection-panel .pane.small .panel {
  width: 49%;
  height: 160px;
}
.collection-panel .pane.small.hidden-pane {
  width: 100%;
  display: none;
}
.collection-panel .pane.small.hidden-pane .panel {
  width: 16%;
  margin: 0 0.27% 2px;
}
.collection-panel .pane img {
  max-width: 100%;
  height: 100%;
}
.collection-panel .pane h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  z-index: 20;
  background: transparent url(/css/Images/WelshWaterMicrosite/wt80.png);
  color: #535353;
  font-weight: bold;
  font-family: Arial, helvatica, san-sarif;
  font-size: 16px;
  line-height: 1.2em;
}
.collection-panel .pane .article-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url(/css/Images/WelshWaterMicrosite/wt80.png);
  z-index: 10;
  display: none;
}
.collection-panel .pane .article-content .text {
  position: absolute;
  top: 37%;
  padding: 0 20px;
  font-size: 14px;
  font-family: Arial, helvatica, san-sarif;
}
.collection-panel .pane .article-content .text p {
  margin-bottom: 10px;
  color: #535353;
}
.collection-panel .pane .article-content .link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.collection-panel .featured {
  width: 100%;
  height: 322px;
}
.collection-panel .panel {
  float: left;
  position: relative;
  margin: 0 0 2px 1%;
  overflow: hidden;
  cursor: pointer;
}
.collection-panel .show-more {
  float: right;
  clear: both;
  text-decoration: none;
  font-family: Arial, helvatica, san-sarif;
  font-size: 14px;
  font-weight: bold;
  color: #535353;
  margin: 10px 1% 0 0;
}
.collection-panel .show-more .icon {
  float: left;
  margin: 3px 5px 0 0;
}
/* --- news listing --- */
#NewsListing .inner {
  max-width: 1272px;
  margin: 0 auto;
}
#NewsListing h2 a {
  text-decoration: none;
}
#NewsListing ul {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
#NewsListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#NewsListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#NewsListing ul .news-item {
  float: left;
  width: 48%;
  margin: 0 1%;
  padding: 40px 1%;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-bottom: 1px dashed #e9e9e9;
  min-height: 285px;
}
#NewsListing ul .news-item .author-date-holder {
  margin-bottom: 5px;
}
#NewsListing ul .news-item .author,
#NewsListing ul .news-item .date {
  font-weight: bold;
  float: none;
  height: auto;
  width: auto;
  margin: 0;
  font-size: 14px;
}
#NewsListing ul .news-item .author {
  margin-right: 10%;
}
#NewsListing ul .news-item .image {
  float: left;
  margin-right: 2%;
  width: 33%;
  text-align: center;
}
#NewsListing ul .news-item .image img {
  max-width: 100%;
  height: auto;
}
#NewsListing ul .news-item .news-text {
  padding-left: 36%;
}
#NewsListing ul .news-item .link {
  float: right;
}
#NewsListing ul .news-item .link .icon {
  float: right;
  margin: 4px 0 0 5px;
}
/* --- Blog listing --- */
#BlogListing .inner {
  max-width: 1272px;
  margin: 0 auto;
}
#BlogListing h2 a {
  text-decoration: none;
}
#BlogListing ul {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
#BlogListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#BlogListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#BlogListing ul .blog-item {
  float: left;
  width: 48%;
  margin: 0 1%;
  padding: 40px 1%;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-bottom: 1px dashed #e9e9e9;
  min-height: 262px;
}
#BlogListing ul .blog-item .author-date-holder {
  margin-bottom: 5px;
}
#BlogListing ul .blog-item .date {
  font-weight: bold;
  float: none;
  height: auto;
  width: auto;
  margin: 0;
  font-size: 14px;
}
#BlogListing ul .blog-item .image {
  float: left;
  margin-right: 2%;
  width: 33%;
  text-align: center;
}
#BlogListing ul .blog-item .image img {
  max-width: 100%;
  height: auto;
}
#BlogListing ul .blog-item .blog-text {
  padding-left: 36%;
}
#BlogListing ul .blog-item .blog-text p {
  margin-bottom: 10px;
  color: #535353;
}
#BlogListing ul .blog-item .comment-count {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #535353;
}
#BlogListing ul .blog-item .comment-count .count {
  margin-left: 2px;
}
#BlogListing ul .blog-item .link {
  float: right;
}
#BlogListing ul .blog-item .link .icon {
  float: right;
  margin: 4px 0 0 5px;
}
/* --- blog commenting --- */
.comments-panel .comment-box {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.comments-panel .comment-box:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.comments-panel .comment-box:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.comments-panel .comment-box label {
  display: block;
  width: 100%;
  float: none;
  color: #535353;
  margin: 0 0 12px;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.comments-panel .comment-box .text-box {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  padding: 1%;
  color: #535353;
  width: 100%;
  margin: 0 0 20px;
  height: 130px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comments-panel .comment-respond-list .respond-name {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 16px;
}
.comments-panel .comment-respond-list .respond-date {
  font-size: 14px;
}
.comments-panel .comment-respond-list .respond-comment {
  padding: 20px 0;
  border-top: 1px solid #e9e9e9;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.comments-panel .comment-respond-list .respond-comment:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.comments-panel .comment-respond-list .respond-comment:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.comments-panel .comment-respond-list .respond-comment:first-child {
  border: none;
}
.comments-panel .comment-respond-list .respond-comment .comment {
  clear: both;
}
.comments-panel .comment-respond-list .respond-comment .rich-text {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.3em;
}
.comments-panel .comment-respond-list .respond-comment .text-box {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  padding: 1%;
  color: #535353;
  width: 100%;
  margin: 0 0 20px;
  height: 130px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comments-panel .comment-respond-list .respond-comment .link {
  float: right;
  margin-bottom: 20px;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.comments-panel .hidden-panel {
  clear: both;
  display: none;
  margin: 0 0 0 10%;
}
.comments-panel .button {
  float: right;
  margin-right: 1px;
  padding: 5px 20px;
  min-height: 32px;
  background: #236e9f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.comments-panel .button:hover {
  background: #20618b;
}
.comments-panel .button:hover {
  background: #20618b;
}
/* --- events listing --- */
#EventsListing .inner {
  max-width: 1272px;
  margin: 0 auto;
}
#EventsListing h2 a {
  text-decoration: none;
}
#EventsListing ul {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
#EventsListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#EventsListing ul:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#EventsListing ul .event-item {
  float: left;
  width: 48%;
  margin: 0 1%;
  padding: 40px 1%;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dashed #e9e9e9;
  margin-bottom: 20px;
  min-height: 304px;
}
#EventsListing ul .event-item .time {
  display: block;
  margin-bottom: 5px;
}
#EventsListing ul .event-item .date {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  font-size: 18px;
  font-family: Arial, helvatica, san-sarif;
  float: none;
  width: 20%;
  height: auto;
  margin: 0;
}
#EventsListing ul .event-item .image {
  text-align: center;
  width: 100%;
  height: 128px;
  overflow: hidden;
  margin-bottom: 10px;
}
#EventsListing ul .event-item .image img {
  max-width: 100%;
  height: auto;
}
#EventsListing ul .event-item .address li {
  margin-bottom: 5px;
}
#EventsListing ul .event-item .event-content {
  float: left;
  position: relative;
  width: 46%;
  padding-left: 17%;
}
#EventsListing ul .event-item .event-content p {
  margin-bottom: 10px;
  color: #535353;
}
#EventsListing ul .event-item .venue-details {
  float: right;
  width: 33%;
}
#EventsListing ul .event-item .link {
  float: right;
}
#EventsListing ul .event-item .link .icon {
  float: right;
  margin: 4px 0 0 5px;
}
/* --- library listing --- */
.library-listing .inner {
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding-top: 30px;
}
.library-listing .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.library-listing .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.library-listing .library-holder {
  float: right;
  width: 75%;
}
.library-listing .filter {
  float: left;
  width: 23%;
  margin: 0 1% 20px 1%;
  border: 1px solid #e9e9e9;
  padding: 20px;
  background-color: #fcfcfc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.library-listing .filter legend {
  font-size: 18px;
  font-family: Verdana, Arial, sans-serif;
}
.library-listing .filter label {
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
}
.library-listing .filter .info-text {
  border-bottom: 1px solid #efefef;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.library-listing .filter .btn-holder {
  text-align: right;
  padding: 30px 0 20px;
}
.library-listing .filter .check-box-list li {
  margin-bottom: 10px;
}
.library-listing .filter .secondary-btn,
.library-listing .filter .button {
  display: inline;
  padding: 5px 20px;
  min-height: 32px;
}
.library-listing .filter .secondary-btn {
  background: #5bb65d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.library-listing .filter .secondary-btn:hover {
  background: #20618b;
}
.library-listing .filter .secondary-btn:hover {
  background: #20618b;
}
.library-listing .filter .secondary-btn:hover {
  background: #55a857;
}
.library-listing .cat-info-text {
  border-bottom: 1px solid #efefef;
}
.library-listing .cat-info-text h2 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #535353;
}
.library-listing .cat-info-text p {
  margin-bottom: 10px;
  color: #535353;
}
.library-listing .library-item {
  margin: 0 1% 20px 1%;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  padding: 20px 0;
  border-bottom: 1px dashed #e9e9e9;
}
.library-listing .library-item:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.library-listing .library-item:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.library-listing .library-item .item-content {
  padding: 0 2%;
}
.library-listing .library-item .cat-label {
  margin-right: 3px;
  font-weight: normal;
}
.library-listing .library-item .categorys {
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
}
.library-listing .library-item h2 {
  font-weight: normal;
}
.library-listing .library-item p {
  margin-bottom: 20px;
  color: #535353;
}
.library-listing .library-item .link {
  float: right;
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
}
.library-listing .library-item .link .icon-download {
  float: left;
  margin: 0 5px 0 0;
}
/* --- event details --- */
.event-details .event-location-time {
  margin-bottom: 30px;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.event-details .event-location-time:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-details .event-location-time:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-details .event-location-time .date-time {
  float: left;
  width: 60%;
}
.event-details .event-location-time .date-time .date {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 20px;
  float: none;
  height: auto;
  width: auto;
  margin: 0;
  text-align: left;
}
.event-details .event-location-time .date-time .date,
.event-details .event-location-time .date-time .time {
  display: block;
  margin: 0 0 5px;
}
.event-details .event-location-time .address {
  float: left;
  width: 40%;
}
.event-details .event-info {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  margin-bottom: 30px;
}
.event-details .event-info h2 {
  margin-bottom: 20px;
}
.event-details .event-info:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-details .event-info:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-details .event-info .content {
  float: left;
  width: 50%;
}
/* --- promo panel --- */
.promo-panel {
  border: 1px solid #e9e9e9;
  padding: 20px;
  background-color: #fcfcfc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}
.promo-panel h2 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 16px;
}
.promo-panel h2 a {
  text-decoration: none;
  color: #236e9f;
}
.promo-panel .image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.promo-panel .image img {
  max-width: 100%;
  height: auto;
}
/* --- cta panel --- */
.cta-panel {
  border: 1px solid #e9e9e9;
  padding: 20px;
  background-color: #efefef;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
  margin: 0 0 20px 0;
}
.cta-panel:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.cta-panel:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.cta-panel h2 {
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  color: #236e9f;
}
.cta-panel .short-text {
  float: left;
  margin-bottom: 20px;
}
.cta-panel .short-text p {
  font-size: 14px;
  color: #535353;
}
.cta-panel .button {
  float: right;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  background: #5bb65d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  text-decoration: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 17px 46px;
}
.cta-panel .button:hover {
  background: #20618b;
}
.cta-panel .button:hover {
  background: #20618b;
}
.cta-panel .button.secondary-btn:hover {
  background: #55a857;
}
/* --- back to top scroll --- */
#BackTotop {
  position: absolute;
  top: -26px;
  left: 50%;
  display: none;
  text-indent: -9999px;
  cursor: pointer;
}
/* --- carousel --- */
.carousel {
  position: relative;
  width: 100%;
  height: 494px;
  overflow: hidden;
}
.carousel .slide {
  width: 100%;
}
.carousel .slide .inner {
  position: relative;
  max-width: 1272px;
  margin: 0 auto;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.carousel .slide .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.carousel .slide .inner:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.carousel .slide .image {
  width: 100%;
}
.carousel .slide .slide-content {
  position: absolute;
  top: 50px;
  left: 1%;
  z-index: 101;
  max-width: 50%;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.carousel .slide .slide-content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.carousel .slide .slide-content:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.carousel .slide h2,
.carousel .slide .short-text,
.carousel .slide .link {
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
}
.carousel .slide .short-text {
  margin-bottom: 5px;
}
.carousel .slide .link {
  float: right;
  clear: both;
}
.carousel .pager {
  position: absolute;
  bottom: 5%;
  right: 18%;
  z-index: 101;
}
.carousel .pager span {
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  text-indent: -9999px;
  margin: 0 3px;
  cursor: pointer;
}
.carousel .pager .active {
  background-color: #00b0db;
}
.carousel #ProgressBar {
  position: absolute;
  top: 0;
  z-index: 101;
  height: 5px;
  opacity: 0.5;
  background: #00b0db;
}
/* --- resource listing --- */
.resources {
  clear: both;
  margin-bottom: 20px;
}
.resources .resource-list {
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.resources .resource-list:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.resources .resource-list:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.resources .resource-list li {
  float: left;
  width: 48%;
  margin: 0 1% 10px 0;
}
.resources .resource-list li a {
  color: #105f99;
  text-decoration: none;
}
/* --- vide widget --- */
.video {
  max-width: 100%;
  height: auto;
}
.video h2 {
  font-size: 16px;
  color: #535353;
}
.video p {
  font-size: 14px;
  color: #535353;
}
.video .video-inner {
  max-width: 1272px;
  margin: 0 auto;
  margin: 0 1% 20px 1%;
}
.video .video-player {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.date {
  float: left;
  font-size: 18px;
  color: #535353;
  width: 95px;
  height: 100px;
  margin: 0 2% 0 0;
  text-align: right;
}
/* --- breadcrumb and top placeholder colour wrap --- */
.colour-wrap {
  position: relative;
  background-color: #e2eefa;
}
.colour-wrap #social-network {
  position: absolute;
  top: 14%;
  right: 0;
}
.scfForm {
  border: 1px solid #e9e9e9;
  padding: 20px;
  background-color: #fcfcfc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.scfForm .scfSectionBorderAsFieldSet {
  padding: 0;
  border: none;
  margin: 0;
}
.scfForm .scfSectionLegend {
  color: #535353;
  margin: 0 0 10px 0;
  padding: 0 0 9px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
}
.scfForm h1 {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 18px;
  color: #535353;
}
.scfForm .scfDropListLabel,
.scfForm .scfEmailLabel,
.scfForm .scfMultipleLineTextLabel,
.scfForm .scfSingleLineTextLabel,
.scfForm .scfPasswordLabel,
.scfForm .scfNumberLabel,
.scfForm .scfDatePickerLabel,
.scfForm .scfDateLabel,
.scfForm .scfRadioButtonListLabel,
.scfForm .scfCheckBoxListLabel,
.scfForm .scfListBoxLabel,
.scfForm .scfFileUploadLabel,
.scfForm .scfDateSelectorLabel,
.scfForm .scfCreditCardLabel,
.scfForm .scfConfirmPasswordLabel,
.scfForm .scfCaptchaLabel,
.scfForm .scfTelephoneLabel,
.scfForm .scfSmsTelephoneLabel {
  display: block;
  width: 100%;
  float: none;
  color: #535353;
  margin: 0 0 5px 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
}
.scfForm .ui-icon-datepicker {
  display: none;
}
.scfForm .scfRadioButtonList label,
.scfForm .scfCheckBoxList label,
.scfForm .scfCheckbox label {
  display: inline;
  width: 100%;
  float: none;
  color: #535353;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
}
.scfForm .scfDropListBorder,
.scfForm .scfEmailBorder,
.scfForm .scfMultipleLineTextBorder,
.scfForm .scfSingleLineTextBorder,
.scfForm .scfPasswordBorder,
.scfForm .scfNumberBorder,
.scfForm .scfDateBorder,
.scfForm .scfRadioButtonListBorder,
.scfForm .scfListBoxBorder,
.scfForm .scfCheckBoxListBorder,
.scfForm .scfFileUploadBorder,
.scfForm .scfDateSelectorBorder,
.scfForm .scfCreditCardBorder,
.scfForm .scfConfirmPasswordBorder,
.scfForm .scfCaptchaBorder,
.scfForm .scfTelephoneBorder,
.scfForm .scfSmsTelephoneBorder {
  margin: 0 0 10px;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.scfForm .scfDropListBorder:after,
.scfForm .scfEmailBorder:after,
.scfForm .scfMultipleLineTextBorder:after,
.scfForm .scfSingleLineTextBorder:after,
.scfForm .scfPasswordBorder:after,
.scfForm .scfNumberBorder:after,
.scfForm .scfDateBorder:after,
.scfForm .scfRadioButtonListBorder:after,
.scfForm .scfListBoxBorder:after,
.scfForm .scfCheckBoxListBorder:after,
.scfForm .scfFileUploadBorder:after,
.scfForm .scfDateSelectorBorder:after,
.scfForm .scfCreditCardBorder:after,
.scfForm .scfConfirmPasswordBorder:after,
.scfForm .scfCaptchaBorder:after,
.scfForm .scfTelephoneBorder:after,
.scfForm .scfSmsTelephoneBorder:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scfForm .scfDropListBorder:after,
.scfForm .scfEmailBorder:after,
.scfForm .scfMultipleLineTextBorder:after,
.scfForm .scfSingleLineTextBorder:after,
.scfForm .scfPasswordBorder:after,
.scfForm .scfNumberBorder:after,
.scfForm .scfDateBorder:after,
.scfForm .scfRadioButtonListBorder:after,
.scfForm .scfListBoxBorder:after,
.scfForm .scfCheckBoxListBorder:after,
.scfForm .scfFileUploadBorder:after,
.scfForm .scfDateSelectorBorder:after,
.scfForm .scfCreditCardBorder:after,
.scfForm .scfConfirmPasswordBorder:after,
.scfForm .scfCaptchaBorder:after,
.scfForm .scfTelephoneBorder:after,
.scfForm .scfSmsTelephoneBorder:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scfForm .scfEmailGeneralPanel,
.scfForm .scfMultipleLineGeneralPanel,
.scfForm .scfSingleLineGeneralPanel,
.scfForm .scfPasswordGeneralPanel,
.scfForm .scfNumberGeneralPanel,
.scfForm .scfDatePickerGeneralPanel,
.scfForm .scfDateGeneralPanel,
.scfForm .scfRadioButtonListGeneralPanel,
.scfForm .scfCheckBoxListGeneralPanel,
.scfForm .scfFileUploadGeneralPanel,
.scfForm .scfDateSelectorGeneralPanel,
.scfForm .scfCreditCardGeneralPanel,
.scfForm .scfConfirmPasswordGeneralPanel,
.scfForm .scfCaptchaGeneralPanel,
.scfForm .scfTelephoneGeneralPanel,
.scfForm .scfSmsTelephoneGeneralPanel {
  width: 90%;
  padding: 0;
  display: block;
  /* IE7 Fix */
  zoom: 1;
  /* IE7 Fix */
}
.scfForm .scfEmailGeneralPanel:after,
.scfForm .scfMultipleLineGeneralPanel:after,
.scfForm .scfSingleLineGeneralPanel:after,
.scfForm .scfPasswordGeneralPanel:after,
.scfForm .scfNumberGeneralPanel:after,
.scfForm .scfDatePickerGeneralPanel:after,
.scfForm .scfDateGeneralPanel:after,
.scfForm .scfRadioButtonListGeneralPanel:after,
.scfForm .scfCheckBoxListGeneralPanel:after,
.scfForm .scfFileUploadGeneralPanel:after,
.scfForm .scfDateSelectorGeneralPanel:after,
.scfForm .scfCreditCardGeneralPanel:after,
.scfForm .scfConfirmPasswordGeneralPanel:after,
.scfForm .scfCaptchaGeneralPanel:after,
.scfForm .scfTelephoneGeneralPanel:after,
.scfForm .scfSmsTelephoneGeneralPanel:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scfForm .scfEmailGeneralPanel:after,
.scfForm .scfMultipleLineGeneralPanel:after,
.scfForm .scfSingleLineGeneralPanel:after,
.scfForm .scfPasswordGeneralPanel:after,
.scfForm .scfNumberGeneralPanel:after,
.scfForm .scfDatePickerGeneralPanel:after,
.scfForm .scfDateGeneralPanel:after,
.scfForm .scfRadioButtonListGeneralPanel:after,
.scfForm .scfCheckBoxListGeneralPanel:after,
.scfForm .scfFileUploadGeneralPanel:after,
.scfForm .scfDateSelectorGeneralPanel:after,
.scfForm .scfCreditCardGeneralPanel:after,
.scfForm .scfConfirmPasswordGeneralPanel:after,
.scfForm .scfCaptchaGeneralPanel:after,
.scfForm .scfTelephoneGeneralPanel:after,
.scfForm .scfSmsTelephoneGeneralPanel:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.scfForm .scfDateSelectorGeneralPanel label {
  font-size: 14px;
  font-family: Arial, helvatica, san-sarif;
  width: 32%;
  margin: 0 0 5px 1%;
  color: #535353;
}
.scfForm .scfDateSelectorGeneralPanel .scfDateSelectorYear,
.scfForm .scfDateSelectorGeneralPanel .scfDateSelectorMonth,
.scfForm .scfDateSelectorGeneralPanel .scfDateSelectorDay {
  width: 32%;
  margin: 0 1% 0 0;
}
.scfForm select,
.scfForm .scfListBox,
.scfForm .scfDropList {
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
  color: #535353;
  height: 35px;
}
.scfForm textarea {
  padding: 0 10px;
  border: 1px solid #f4f4f4;
}
.scfForm .scfDropListGeneralPanel {
  width: 90%;
  overflow: hidden;
}
.scfForm input[type=text],
.scfForm input[type=password] {
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  padding: 0 10px;
  color: #535353;
  height: 35px;
}
.scfForm input[type=submit] {
  background-color: #236e9f;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  cursor: pointer;
  width: 100%;
  min-height: 37px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  clear: both;
}
.scfForm .scfValidatorRequired,
.scfForm .scfRequired {
  float: left;
  margin: 0 0 0 1%;
}
.scfForm .scfIntroBorder {
  color: #535353;
  clear: both;
  font-size: 13px;
}
.scfForm .scfIntroBorder p {
  margin-bottom: 12px;
}
.scfForm .scfFooterBorder {
  color: #535353;
  clear: both;
  font-size: 11px;
}
.scfForm .scfFooterBorder p {
  padding-top: 12px;
}
.scfForm .scfError,
.scfForm .scfValidationSummary,
.scfForm .scfValidatorRequired,
.scfForm .scfValidator {
  color: #ff0000;
}
.scfForm .scfValidationSummary {
  padding: 1% 2%;
  margin: 0 auto 10px;
  background-color: #ffe8e8;
  border: 1px solid #ff0000;
}
.scfForm .halfAvailableWidth {
  margin: 0 0 17px;
}
.form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form legend {
  color: #535353;
  margin: 0 0 10px 0;
  padding: 0 0 9px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
}
.form label {
  display: block;
  width: 100%;
  float: none;
  color: #535353;
  margin: 0 0 12px;
  padding: 0;
  font-family: Arial, helvatica, san-sarif;
  font-size: 14px;
}
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=tel],
.form input[type=number] {
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
  color: #535353;
  height: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form input[type=submit] {
  background-color: #236e9f;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  cursor: pointer;
  width: auto;
  min-height: 37px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
}
.form .check-box-list label {
  display: inline;
}
.form .form-input {
  text-align: left;
  width: 100%;
  margin: 0 0 15px;
  vertical-align: top;
}
.form .inline {
  display: inline;
}
.form .validation {
  padding: 1% 2%;
  margin: 0 auto 10px;
  background-color: #ffe8e8;
  border: 1px solid #ff0000;
}
.form .validation li,
.form .validation p {
  color: #ff0000;
  margin-top: 5px;
}
.form .validation li:first-child,
.form .validation p:first-child {
  margin-top: 0;
}
.form .required {
  float: left;
  margin: 0 0 0 1%;
}
.form .error {
  float: right;
  color: #ff0000;
}
.login-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 18px;
  float: right;
  width: 50%;
  background: transparent url(/css/Images/WelshWaterMicrosite/white-trans.png);
}
.login-form .help-text {
  margin-top: 21px;
  font-family: Verdana, Arial, sans-serif;
}
.login-form .login-fail {
  font-weight: normal;
  font-family: Arial, helvatica, san-sarif;
  font-size: 14px;
  color: #ff0000;
  margin-bottom: 5px;
}
.login-form label {
  font-size: 20px;
}
.login-form legend {
  position: absolute;
  left: -9999px;
  font-size: 0;
}
.login-form input[type=submit] {
  background-color: #236e9f;
  color: #fff;
  text-align: center;
  display: block;
  border: none;
  cursor: pointer;
  width: 100%;
  min-height: 37px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-size: 20px;
  font-family: Arial, helvatica, san-sarif;
}
@media all and (min-device-width: 600px) and (max-device-width: 768px) and (orientation: portrait) {
  body {
    min-width: 600px;
  }
  #Standard7525 #PhPrimaryContent,
  #Standard7525 #PhSupportingContent {
    float: none;
    width: 98%;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #StandardWithSupporting .main-content {
    width: 100%;
    float: none;
  }
  #StandardWithSupporting #PhSubNav {
    float: none;
    clear: both;
    width: 98%;
    margin: 0 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .collection-panel .panel.featured {
    margin: 0 0 2px 0.5%;
  }
  .collection-panel .pane {
    width: 50%;
  }
  .collection-panel .pane:first-child {
    width: 100%;
  }
  #Breadcrumb {
    min-width: 100%;
  }
  #Header .inner,
  #Footer .inner,
  #Standard7525 .inner,
  #StandardWithSupporting .inner {
    max-width: 100%;
    min-width: 600px;
  }
  .page-header.banner {
    background-position: 50% 0;
  }
  .carousel .slide .inner {
    max-width: 100%;
    margin: 0;
  }
  .carousel .slide h2,
  .carousel .slide .short-text,
  .carousel .slide .link {
    font-size: 26px;
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
  #Breadcrumb {
    min-width: 100%;
  }
  #Header .inner,
  #Footer .inner,
  #Standard7525 .inner,
  #StandardWithSupporting .inner {
    max-width: 100%;
    min-width: 600px;
  }
  .page-header.banner {
    background-position: 50% 0;
  }
  .carousel .slide .inner {
    max-width: 100%;
    margin: 0;
  }
  .carousel .slide h2,
  .carousel .slide .short-text,
  .carousel .slide .link {
    font-size: 26px;
  }
}
